<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >
    {% block 'head' %} {% endblock %} 
    <title>{% block 'titulo' %} {% endblock %} </title>
  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-primary">
      <img href="{% url 'home' %}" style="width: 3%;" src="/media/logo-removebg-preview.png">
      <a class="navbar-brand"  href="{% url 'home' %}">BIBLIOTECA - ENE JOSE DE PAIVA GADELHA</a>
      <a href="#"  type="button"  class="btn btn-light">Desenvolvedores</a>
     
      {% if usuario_logado%}

         <a href="{% url 'sair' %}"  type="button"  class="btn btn-danger">Sair</a>
      {%endif%}
    </nav>

    {% block 'conteudo' %} {% endblock %} 
     
<div class="container">
  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md">
      <br>
      <br>
      <br>
      <br>
      <br>
    <hr>
    
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


  </body>
</html>


