{% extends 'base.html' %}



{% block 'conteudo' %}




<div class="container">
  <hr>

  <form action="?" method="GET">
    <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off"
      placeholder="Título do livro">
    <button type="submit" class="btn btn-success">Buscar</button>
    <a href="{% url 'home' %}" class="btn btn-light">Limpar</a>


    <form>
      <hr>

      <div class="row" style="gap:1.2rem;">
        {% for livro in livros %}


        <div class="col-md">



          <div class="card" style="width: 18rem;">
            <div class="card-body">
              {% if livro.img %}
              <img width="100%" src="{{livro.img.url}}">
              {% endif %}
              <h5 class="card-title">{{livro.nome}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
              <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Disponível: </h6>
              {% if livro.emprestado %}

              <svg style="color:red; display: inline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg>

              {% else %}

              <svg style="color:green; display: inline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
              </svg>


              {% endif %}

              <br>

              <a href="{% url 'ver_livros' livro.id %}" class="btn btn-info"> Acessar </a>
            </div>
          </div>


        </div>

        {% endfor %}


      </div>



</div>


{% endblock %}